:root {
	color-scheme: light dark;

	--accent: #2337ff;
	--accent-dark: #000d8a;
	--active: rgb(163, 128, 23);
	--active-green: rgb(89, 143, 58);
	--background: rgb(255, 255, 255);
    --background-light: oklch(92.82% 0.057 96.44);
	--background-dark: oklch(24.43% 0.008 84.59);
	--foreground-dark: oklch(79.64% 0.04 95.94);
	--foreground: oklch(24.84% 0.039 95.36);
	--footer: oklch(20% 0.031 96.93);
	--footer-light: oklch(26.472% 0.07435 145.098);
	--footer-dark: oklch(20.331% 0.04019 100.328);
	--black: 15, 18, 25;
	--grey: rgb(168, 157, 122);
	--gray: 96, 115, 159;
	--gray-light: rgb(211, 204, 175);
	--gray-dark: 34, 41, 57;
	--gray-op: rgba(110, 103, 82, 0.507);
	--brown: oklch(49.626% 0.13164 49.491);
	--brown-dark: oklch(24.056% 0.05763 57.884);
	--button: oklch(72.18% 0.093 108.52 / 52%);
	--green: oklch(46% 0.15 144 / 90%);
	--green-light: oklch(95.948% 0.08683 133.137);
	--green-dark: oklch(75% 0.21 144 / 100%);
	--gray-gradient: rgba(var(--gray-light), 50%), var(--background);
	--primary-color: light-dark(var(--foreground), var(--foreground-dark));
    --primary-background: light-dark(var(--background-light), var(--background-dark));
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: "Gabriela";
	src: url("/fonts/Gabriela.woff2") format("woff");
	font-style: normal;
	font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}
html {
	color: var(--primary-color);
	background-color: var(--primary-background);
    scrollbar-gutter: stable;

	&:has(.icon-block #light:checked) {
		color-scheme: light;
	}

	&:has(.icon-block #dark:checked) {
		color-scheme: dark;
	}
}
body {
    font-family: "Gabriela", sans-serif;
    padding: 0;
	text-align: left;
    word-wrap: break-word;
	overflow-wrap: break-word;
    font-size: clamp(1rem, 0.7rem + 0.7vw, 1.375rem);
	line-height: 1.7;
    min-block-size: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	
    @media (min-width: 720px) {
		grid-template-rows: 1fr auto;
		grid-template-columns: 5rem 1fr;
		grid-template-areas: 
		"aside main"
		"aside footer";
        font-size: clamp(1.25rem, 0.7rem + 0.7vw, 1.375rem);
		width: 100%;
    }
}
.aside-menu {
	display: none;
	
	@media (min-width: 720px) {
		position: fixed;
		display: grid;
		grid-template-rows: 5rem 1fr 5rem;
		gap: 2rem;
		grid-template-columns: 5rem;
		height: 100svh;
		background-color: light-dark(var(--active-green), var(--footer));
		place-items: center;
		justify-content: space-between;
		grid-area: aside;
	}
}
main {
    max-width: calc(100% - 2em);
	margin: auto;
    
    @media (min-width: 720px) {
		grid-area: main;
        max-width: 1020px;
        padding: 2em 1em;
    }
}
footer {
	@media (min-width: 720px) {
		grid-area: footer;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	@media(min-width: 720px) {
		font-size: 3.052em;
	}
}
h2 {
	@media(min-width: 720px) {
		font-size: 2.441em;
	}
}
h3 {
	@media(min-width: 720px) {
		font-size: 1.953em;
	}
}
h4 {
	@media(min-width: 720px) {
		font-size: 1.563em;
	}
}
h5 {
	@media(min-width: 720px) {
		font-size: 1.25em;
	}
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--green);
	text-decoration: none;
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
	border: 1px solid rgb(var(--gray));
}
img.float-left {
    margin: 1rem auto 1.5rem;

    @media (min-width: 720px) {
        display: inline;
        max-width: 45%;
        float: left;
        margin: 5px 20px 10px 0;
	}
}
img.float-right {
    margin: 1rem auto 1.5rem;
    
    @media (min-width: 720px) {
        display: inline;
        max-width: 45%;
        float: right;
        margin: 5px 0 10px 12px;
	}
}
img.align-center {
	margin: 1rem auto 1.5rem;
}
.first-line {
    margin-top: 3rem;
}
.last-line {
    margin-bottom: 1.8rem;
}
.double-last-line {
    margin-bottom: 3.6rem;
}
.go-up {
	padding: 1rem 2rem;
	font-style: italic;
	text-align: end;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.2em;
}
.article-footer {
	font-size: 0.9rem;
	margin-top: 3rem;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}