---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import Image1 from "/src/assets/tea-wayfarer.jpg";
---

<Layout>
	<h3>Вас вітає</h3>
	<h1 class="">"Чайна Хатинка",</h1>
	<h2 class="double-last-line">Майстерня Чаю і Дао!</h2>
	<section>
		<Image class="float-left" src={Image1} alt="Чайний мандрівник" />
		<p>
	
			Кожен із нас шукає своєї досконалости так, як він чи вона розуміє її, залежно від загального знання і контексту, отриманого за своє життя, разом із тим, що було закладено в нас Матінкою Природою...
		</p> 
		<p>
			Ми, як і багато хто до нас, шукаємо Довершености у своєму житті через Чай — через ту Традицію, підвалини якої було закладено ще сивої давнини. Ми не прагнемо відкрити щось нове, досі невідоме. Навпаки, за допомогою простих метод ми глибше занурюємось у навколишнє — у те, що маємо саме цієї миті. Якщо Надзвичайне й існує, воно мусить бути тут і зараз... <span style="font-style: italic;">"Стара хвіртка до Мудрости завжди відкрита. Дзен не має дверей..."</span>
		</p>
		<p>
			Так само як і кожна чайна людина минулого й сьогодення, ми не прагнемо віднайти пробудження заради себе. Наша Традиція — це служіння людству через Чай. <span style="font-style: italic;">"Чай і Чань (Дзен)"</span>, казали давні, <span style="font-style: italic;">"мають один смак"</span>. Із глибоким усвідомленням наших зв'язків одне з одним проголошуємо: <br/>
			<span style="font-weight: 600;">«Най кожна чаша з любов'ю сприяє пробудженню і присутності, розкриттю Гармонії і Спокою Всесвіту в людській свідомості!»</span>
		</p>
	</section>
</Layout>

<style>
	section {
		width: 100%;
		margin: auto;

		@media (min-width: 45rem) {
			max-width: 45rem;
		}
	}
	h1, h2, h3 { text-align: center; }

	p::first-letter { font-size: 1.5em; }
</style>
