---
import { Image } from "astro:assets";
import logo from '../../public/logo.png';
import ThemePicker from "./ThemePicker.astro";
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";

const { title = "Майстерня" } = Astro.props;
---

<header class="main-header" {title}>
	<a href="/">
		<Image class="logo" src={logo} alt="Logo" />
	</a>
	<h2 class="header-menu-title">
		{title}
	</h2>
	<nav class="navigation-bar" aria-label="Navigation menu">
		<button popovertarget="home-page" style="anchor-name: --anchor-button-home;">
			<Icon class="icon" name="hut" size={36} />
		</button>
		<div id="home-page" class="tooltip" popover style="position-anchor: --anchor-button-home;">
			<ul>
				<li>
					<HeaderLink href="/">
						ХАТИНКА
					</HeaderLink>
				</li>
				<li>
					<ul>
						<li>
							<a href="">
								- наша Традиція
							</a>
						</li>
						<li>
							<a href="">
								- керівні засади цієї Хатинки
							</a>
						</li>
						<li>
							<a href="">
								- про нас
							</a>
						</li>
						<li>
							<a href="">
								- про нашу крамничку
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<button popovertarget="tea-page" style="anchor-name: --anchor-button-tea;">
			<Icon class="icon" name="teapot-leaves" size={36} />
		</button>
		<div id="tea-page" class="tooltip" popover style="position-anchor: --anchor-button-tea;">
			<ul>
				<li>
					<HeaderLink href="/tea">
						ЧАЙ І НАЧИННЯ
					</HeaderLink>
				</li>
				<li>
					<ul>
						<li>
							<a class="menu-link" href='/categories/shengcha/'>
								- шен пуери
							</a>
						</li>
						<li>
							<a class="menu-link" href='/categories/heicha/'>
								- шу пуери й хейча
							</a>
						</li>
						<li>
							<a class="menu-link" href='/categories/hongcha/'>
								- червоні чаї
							</a>
						</li>
						<li>
							<a class="menu-link" href='/categories/wulong&gaba/'>
								- вулони й ґаба
							</a>
						</li>
						<li>
							<a class="menu-link" href='/categories/baicha&lucha/'>
								- білі й зелені
							</a>
						</li>
						<li>
							<a class="menu-link" href='/categories/japanese/'>
								- японські
							</a>
						</li>
						<li>
							<a class="menu-link teas" href='/teawares'>
								- чайне начиння
							</a>
						</li>
					</ul>
				<li>
					<a class="menu-link" href='/tags/'>
						Позначки чаїв
					</a>
				</li>
			</ul>
		</div>
		<button popovertarget="blog-page" style="anchor-name: --anchor-button-articles;">
			<Icon class="icon" name="books" size={36} />
		</button>
		<div id="blog-page" class="tooltip" popover style="position-anchor: --anchor-button-articles;">
			<ul>
				<li>
					<HeaderLink href="/articles">
						ЧИТАЛЬНЯ
					</HeaderLink>
				</li>
				<li>
					<ul>
						<li>
							<a class="menu-link" href='/library/gongfuchatips/'>
								- поради з ґонфу ча
							</a>
						</li>
						<li>
							<a class="menu-link" href='/library/gongfuteapot/'>
								- чайник ґонфу
							</a>
						</li>
						<li>
							<a class="menu-link" href='/library/brewingtips/'>
								- поради щодо заварювання
							</a>
						</li>
						<li>
							<a class="menu-link" href='/library/teaandseasons/'>
								- про чай і сезони
							</a>
						</li>
						<li>
							<a class="menu-link" href='/library/questionsandanswers/'>
								- питання і відповіді
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
		<div class="theme-picker">
			<ThemePicker />
		</div>
</header>

<style>
	:root {
		--pagefind-ui-scale: 0.8;
		--pagefind-ui-primary: var(--menu-surface);
		--pagefind-ui-text: var(--foreground);
		--pagefind-ui-message-text: light-dark(var(--foreground), var(--foreground-dark));
		--pagefind-ui-result-title-text: var(--active);
		--pagefind-ui-result-text: light-dark(var(--foreground), var(--foreground-dark));
		--pagefind-ui-background: var(--background);
		--pagefind-input-background: var(--background);
		--pagefind-ui-border: var(--accent1);
		--pagefind-ui-tag: #0d0a01;
		--pagefind-ui-border-width: 2px;
		--pagefind-ui-border-radius: 8px;
		--pagefind-ui-image-border-radius: 8px;
		--pagefind-ui-image-box-ratio: 3 / 2;
		--pagefind-ui-font: Arial, sans-serif;
		--pagefind-button-background: var(--pagefind-input-background);
		--pagefind-button-color: var(--pagefind-ui-message-text);
	}
	[data-theme="light"] {
		--pagefind-ui-primary: var(--menu-surface);
		--pagefind-ui-text: #fff;
		--pagefind-ui-message-text: #000;
		--pagefind-ui-result-title-text: var(--brand);
		--pagefind-ui-result-text: #000;
		--pagefind-ui-background: var(--background);
		--pagefind-input-background: var(--brand);
		--pagefind-ui-border: var(--accent1);
		--pagefind-ui-tag: #0d0a01;
		--pagefind-button-color: var(--pagefind-ui-text);
	}
	[data-theme="dark"] {
		--pagefind-ui-primary: var(--menu-surface);
		--pagefind-ui-text: #fff;
		--pagefind-ui-message-text: var(--pagefind-ui-text);
		--pagefind-ui-result-title-text: var(--accent1);
		--pagefind-ui-result-text: #fff;
		--pagefind-ui-background: #83645a;
		--pagefind-input-background: var(--brand);
		--pagefind-ui-border: var(--brand);
		--pagefind-ui-tag: #b59c94;
	}

	#search .pagefind-ui__search-input, #search .pagefind-ui__search-clear {
	 	background-color: var(--pagefind-input-background);
	 	color: var(--pagefind-ui-text);
	}
	#search .pagefind-ui__search-clear {
		padding: 0;
	}

	#search .pagefind-ui__result-title, #search .pagefind-ui__result-link {
		display: inline-block;
		font-weight: 700;
		font-size: calc(40px * var(--pagefind-ui-scale));
		color: var(--pagefind-ui-result-title-text);
	}
	#search .pagefind-ui__result-excerpt {
		color: var(--pagefind-ui-result-text);
		font-weight: 400;
		font-size: calc(1.5rem * var(--pagefind-ui-scale));
	}
	#search .pagefind-ui__message {
		color: var(--pagefind-ui-message-text);
		margin: calc(0.5rem * var(--pagefind-ui-scale)) 0 calc(1.5rem * var(--pagefind-ui-scale)) calc(0.5rem * var(--pagefind-ui-scale));
	}
	#search .pagefind-ui__button {
		color: var(--pagefind-button-color);
		background: var(--pagefind-button-background);
	}
	#search .pagefind-ui__result-thumb {
	 	display: none;
	}
	
	header.main-header {
		grid-area: header;
		margin: 0 0 2rem;
		padding: 0.5em 0.7em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: light-dark(var(--active-green), var(--footer));
		box-shadow:  0px 2px 8px rgba(0,0,0, 0.5);

		@media (min-width: 720px) {
			margin: 0;
			padding: 0;
			height: 100svh;
			display: grid;
			grid-template-columns: 5rem;
			grid-template-rows: 5rem 1fr 5rem;
			grid-template-areas: 
			"logo"
			"menu"
			"theme-picker";
			justify-items: center;
			position: fixed;
		}
	}

	.logo {
		grid-area: logo;
		display: block;
		width: 4rem;
        max-width: 100%;
        aspect-ratio: 1 / 1;
		padding: 0.3rem;
		background-color: oklch(85% 0.063 96.44);
		border-radius: 100vw;
		border: 1px solid rgb(var(--black));
	}
	h2.header-menu-title {
		margin: 0;
		font-size: 1.8em;
		text-align: end;
		color: oklch(85% 0.063 96.44);

		@media (min-width: 720px) {
			display: none;
		}
	}
	.navigation-bar {
		display: none;

		@media (min-width: 720px) {
			grid-area: menu;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			background-color: light-dark(var(--active-green), var(--footer));
			place-items: center;
			justify-content: space-between;
		}
	}
	button {
		height: 3.6rem;
        width: 100%;
		background-color: transparent;
		color: light-dark(oklch(85% 0.063 96.44), var(--foreground-dark));
		border: 0;
		z-index: 2;
		cursor: pointer;
	}

	.tooltip {
		margin: 0;
		padding: 0;
		width: 100%;
		position-area: top;
		background-color: var(--header);
		border: 0;
		overflow: visible;
		z-index: -1;

		@media (min-width: 720px) {
			position-area: right;
			width: fit-content;
			background-color: light-dark(var(--active-green), var(--footer));
			border-radius: 0 1rem 1rem 0;
	
			&::before, &::after {
				position: absolute;
				content: '';
				width: 18px;
				aspect-ratio: 1;
			}
	
			&::before {
				left: 0;
				top: -18px;
				background: radial-gradient(
					circle 18px at top right,
					#0000 98%, light-dark(var(--active-green), var(--footer))
				);
			}
	
			&::after {
				left: 0;
				bottom: -18px;
				background: radial-gradient(
					circle 18px at bottom right,
					#0000 98%, light-dark(var(--active-green), var(--footer))
				);
			}
		}

		a {
			color: var(--foreground-dark);
			text-decoration: none;
            line-height: 2.7rem;
		}

		a:hover {
			color: light-dark(var(--foreground), var(--active));
		}

		}

		ul {
			list-style: none;
			padding: 1rem;
		}

        li {
            padding-left: 1rem;
        }

        li:has(a.active) {
            background: var(--green);
			border-radius: 9px;
            color: light-dark(var(--active), var(--background));
        }

	[popover] {
		translate: -360px 0;
		transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete;

		&:popover-open {
            translate: 1rem 0;
        }
	}

	@starting-style {
		[popover]:popover-open {
            translate: -360px 0;
        }
	}
	.theme-picker {
		grid-area: theme-picker;
	}
</style>
