---
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";
---

<nav class="mobile-navigation">
	<button popovertarget="mobile-home-page" style="anchor-name: --anchor-button;">
		<Icon class="icon" name="hut" size={36} />
	</button>
	<div id="mobile-home-page" class="mobile-tooltip" popover style="position-anchor: --anchor-button;">
		<ul class="mobile-menu-block hut">
			<li>
				<HeaderLink href="/">
					ХАТИНКА
				</HeaderLink>
			</li>
			<li>
				<ul>
					<li>
						<a href="/our-tradition">
							- наша Традиція
						</a>
					</li>
					<li>
						<a href="/guiding-principles-of-this-hut">
							- керівні засади цієї Хатинки
						</a>
					</li>
					<li>
						<a href="/about">
							- про нас
						</a>
					</li>
					<li>
						<a href="/">
							- про нашу крамничку
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<button popovertarget="mobile-tea-page" style="anchor-name: --anchor-button;">
		<Icon class="icon" name="teapot-leaves" size={36} />
	</button>
	<div id="mobile-tea-page" class="mobile-tooltip" popover style="position-anchor: --anchor-button;">
		<ul class="mobile-menu-block tea">
			<li>
				<HeaderLink href="/tea">
					ЧАЙ І НАЧИННЯ
				</HeaderLink>
			</li>
			<li>
				<ul>
					<li>
						<a class="menu-link" href='/categories/shengcha/'>
							- шен пуери
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/heicha/'>
							- шу пуери й хейча
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/hongcha/'>
							- червоні чаї
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/wulong&gaba/'>
							- вулони й ґаба
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/baicha&lucha/'>
							- білі й зелені
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/japanese/'>
							- японські
						</a>
					</li>
					<li>
						<a class="menu-link teas" href='/teawares'>
							- чайне начиння
						</a>
					</li>
				</ul>
			<li>
				<a class="menu-link" href='/tags/'>
					Позначки чаїв
				</a>
			</li>
		</ul>
	</div>
	<button popovertarget="mobile-blog-page" style="anchor-name: --anchor-button;">
		<Icon class="icon" name="books" size={36} />
	</button>
	<div id="mobile-blog-page" class="mobile-tooltip" popover style="position-anchor: --anchor-button;">
		<ul class="mobile-menu-block blog">
			<li>
				<HeaderLink href="/articles">
					ЧИТАЛЬНЯ
				</HeaderLink>
			</li>
			<li>
				<ul>
					<li>
						<a class="menu-link" href='/library/gongfuchatips/'>
							- поради з ґонфу ча
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/gongfuteapot/'>
							- чайник ґонфу
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/brewingtips/'>
							- поради щодо заварювання
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/teaandseasons/'>
							- про чай і сезони
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/questionsandanswers/'>
							- питання і відповіді
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<style>
	nav.mobile-navigation {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: light-dark(var(--active-green), var(--footer));

        & button {
            height: 3.6rem;
            width: 100%;
			background-color: transparent;
			color: light-dark(oklch(85% 0.063 96.44), var(--foreground-dark));
			border: 0;
			z-index: 2;
        }

        & .mobile-tooltip {
            margin: 0;
            padding: 0;
            width: 100%;
            position-area: top;
            background-color: light-dark(var(--active-green), var(--footer));
            border: 0;
			border-top: 2px solid var(--grey);
			border-bottom: 2px solid var(--grey);
            overflow: visible;
            z-index: -1;

            a {
				color: var(--foreground-dark);
                text-transform: uppercase;
				text-decoration: none;
                line-height: 2.7rem;
			}
        }

        .mobile-menu-block {
            display: grid;
            padding: 1rem 2rem;
			list-style: none;

			&.hut {
				width: fit-content;
			}
        }

		ul {
			list-style: none;
		}

		li:has(a.active) {
			padding-left: 1rem;
            background: var(--green);
			border-radius: 9px;
            color: light-dark(var(--active), var(--background));
        }
		
		.tea {
			justify-content: center;
		}

		.blog {
			justify-content: end;
			padding-right: 1rem;
		}

        [popover] {
            translate: 0 360px;
            transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete;

            &:popover-open {
                translate: 0;
            }
        }

        @starting-style {
            [popover]:popover-open {
                translate: 0 360px;
            }
        }

        @media (min-width: 720px) {
			display: none;
		}
    }
</style>