---

---

<fieldset class="button-group">
    <label for="light">світла</label>
    <div class="track">
        <div class="handle">
            <div class="icon"></div>
            <div class="state"></div>
        </div>
        <input id="light" type="radio" name="theme" value="light"/>
        <input id="dark" type="radio" name="theme" value="dark"/>
    </div>
    <label for="dark">темна</label>
</fieldset>

<style>
   :root {
  --surface: light-dark(#f7f2fa, #141314);
  --on-surface: light-dark(#1a1a1a, #f1f1f1);
  --focus: light-dark(blue, yellow);
  --track: light-dark(#76ace5, #31043f);
  --handle: light-dark(#ffde70, #f0e8a2);
}

label {
  transition: color 0.15s ease-in-out;
}

.button-group {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin: 1rem 0.5rem;
  padding: 0;
  border: none;

  & .track {
        --bg: var(--track);
        --fg: var(--handle);
        --hl: var(--focus);
        --bor: var(--fg);
        position: relative;
        box-sizing: border-box;
        width: 3.25rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: var(--bg);
        display: flex;
        align-items: center;
        cursor: pointer;
        transition-property: background-color, border;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
        margin: 0 4px;
    }
    
    & input[type=radio] {
     appearance: none;
     position: absolute;
     inset: 0;
     cursor: pointer;
     width: 100%;
     height: 100%;
   }
   & input[type=radio]:not(:checked) {
     z-index: 1;
   }
   & input[type=radio]:focus {
     outline: none;
   }
   & .handle {
     position: absolute;
     width: 1.75rem;
     height: 1.75rem;
     border-radius: 50%;
     display: grid;
     place-items: center;
     left: var(--handle-pos, 0);
     transition: left 0.35s cubic-bezier(0.47, 1.5, 0.41, 0.8);
   }
   & .icon {
     height: 1.25rem;
     width: 1.25rem;
     border-radius: 50%;
     background-color: var(--fg);
     position: absolute;
     display: grid;
     place-items: center;
     transition: background-color 0.15s ease-in-out;
   }
   & .icon::before {
     content: "";
     width: 1rem;
     height: 1rem;
     border-radius: 50%;
     background-color: var(--bg);
     position: absolute;
     top: 0.05rem;
     right: -0.15rem;
     opacity: 0;
     transition: all 0.15s ease-in-out;
   }
   &:has(#dark:checked) .handle {
     left: 1.25rem;
   }
   &:has(#dark:checked) .icon::before {
     opacity: 1;
   }
   & .state {
     height: 100%;
     width: 100%;
     opacity: var(--state-op, 0);
     background-color: var(--fg);
     transition: opacity 0.15s ease-in-out;
     border-radius: 50%;
     scale: 1.4;
   }
   &:hover {
     --state-op: 0.1;
   }
   &:active {
     --state-op: 0.2;
   }
   &:has(input:focus-visible) .handle {
     outline: 3px solid var(--focus);
     box-shadow: 0 0 0 3px var(--surface);
     outline-offset: 3px;
   }
}
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {

        const radioButtons = document.querySelectorAll('input[name="theme"]');

        // Set theme based on saved preference on load
        const currentTheme = sessionStorage.getItem('theme');
            if (currentTheme) {
            document.querySelector(`input[value="${currentTheme}"]`).checked = true;
        } 

        radioButtons.forEach(radio => {
            radio.addEventListener('change', (e) => {
                if (e.target.value === 'dark') {
                    sessionStorage.setItem('theme', 'dark');
                } else {
                    sessionStorage.setItem('theme', 'light');
                }
            });
        });
    });
</script>