---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';


const title = "Наші чаї";
---

<Layout {title}>
	<h3>Вас вітає</h3>
	<h1 class="">"Чайна Хатинка",</h1>
	<h2 class="double-last-line">Майстерня Чаю і Дао!</h2>
</Layout>

<style>
	h1, h2, h3 { text-align: center; }

	p::first-letter { font-size: 1.5em; }
</style>